<p>dashboard works!</p>
<div class="row">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">pos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="item">item</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['sale']">sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['pos']">pos</a>
          </li> -->
      </ul>
</div>